{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block description %}Bangladesh&#x27;s biggest online store for Mobiles, Fashion (Clothes/Shoes), Electronics, Home
Appliances, Books, Jewelry,
Home, Furniture, Sporting goods, Beauty &amp; Personal Care, Grocery and more! Find the largest selection from all
brands at the lowest prices in India. Payment options - COD, EMI, Credit card, Debit card &amp; more.{% endblock %}
{% block keywords %}Online Shopping in Bangladesh,online Shopping store,Online Shopping Site,Buy Online,Shop
Online,Online Shopping,Electro{% endblock %}


{% block sidebar %}{% include 'sidebar.html' %}{% endblock %}
{% block slider %}{% include 'slider.html' %}{% endblock %}
{% block content %}{% include 'content.html' %}{% endblock %}
{% block footer %}{% include 'footer.html' %} {% endblock %}