{% extends 'base.html' %}
{% load static %}
{% block title %}{{user.first_name}} Orders Product{% endblock %}
{% block description %}{{setting.description}}{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}


{% block sidebar %}{% include 'sidebar.html' %}{% endblock %}

{% block content %}

<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Order Produts</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-2">
                {% include "user_panel.html" %}
            </div>

            <div class="col-md-10">
                <div class="order-summary clearfix">
                    <div class="section-title">
                        <h3 class="title">Order Product List</h3>
                    </div>

                    <table class="shopping-cart-table table">
                        <tr>
                            <th class="text-left">Id </th>
                            <th class="text-left">Product Name </th>
                            <th class="text-left">Price </th>
                            <th class="text-left">Qauatity </th>
                            <th class="text-left">Amount </th>
                            <th class="text-left">Status </th>
                            <th class="text-left">Date </th>

                        </tr>
                        {% for item in order_product %}
                        <tr>
                            <td class="text-left">
                                <a href="/product/{{ item.product_id }}/{{ item.product.slug }}">
                                    <img src="{{item.product.image.url}}" alt="" style="height: 80px">

                                </a>
                            </td>
                            <td style="width: 250px;">{{ item.product.title}}</td>
                            <td class="text-left">{{ item.price}} </td>
                            <td class="text-left">{{ item.quantity}} </td>
                            <td class="text-left">{{ item.amount}} </td>
                            <td class="text-left">{{ item.status}} </td>
                            <td class="text-left">{{ item.create_at}} </td>


                        </tr>
                        {% endfor %}

                    </table>

                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

{% endblock %}
{% block footer %}{% include 'footer.html' %} {% endblock %}